@import "./mixins.scss";

.container {
  min-height: 100vh;
  padding: 1.5rem;
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
}

.main {
  @include mobile {
    flex-direction: column;
  }
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .leftSection {
    @include mobile {
      width:100%;
      min-height: 50vh;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 0px;

    }
    width: 40%;
    min-height: 90vh;
    height: 100%;
    background-image: url("../assets/images/home-page.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    h1 {
      position: absolute;
      top: 35%;
      color: white;
      font-size: 1.5rem;
      font-family: Finlandica-Bold;
    }
  }

  .rightSection {
    @include mobile {
      width:100%;
      min-height: 50vh;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
    width: 60%;
    min-height: 90vh;
    background-color: white;
    height: 100%;

    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .userRegistration {
      width: 75%;
      text-align: center;
    }
  }
}
