/* :: screen widths */
$xxs-min-width: 325px;
$xxs-max-width: 576px;
$xs-min-width: 577px;
$xs-max-width: 767px;
$sm-min-width: 768px;
$sm-max-width: 991px;
$md-min-width: 992px;
$mdd-min-width: 1025px;
$mdd-max-width: 1024px;
$md-max-width: 1199px;
$lg-min-width: 1200px;
$lg-max-width: 1439px;
$xlg-min-width: 1440px;
$xxlg-min-width: 1800px;